  /*-----------GENERAL----------------*/


  *{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}


body{
    color: #fff;
    font-family: 'Montserrat';
    overflow: hidden;
}


        .s1{
            background-image: url('{{asset('/pictures/gym1.jpg')}}');
            background-size: cover;
            background-position: center;
        }

        .s2{
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url('{{asset('pictures/gym2.jpg')}}');
            background-size: cover;
            background-position: center;
        }

        .s3{
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url('{{asset('pictures/gym3.jpg')}}');
            background-size: cover;
            background-position: center;
        }

        .s4{
            background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url('{{asset('pictures/gym5.jpg')}}');
            background-size: cover;
            background-position: center;
        }


        span{
            background: white !important;
        }

  /*-----------LANDING----------------*/


  .neon::first-letter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    margin: 0;
    font-size: 6rem;
    color: tomato;
    text-shadow: 0 0 10px black;
    letter-spacing: 10px;
    font-weight: 900;
}


.neon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    margin: 0;
    padding: 0 20px;
    font-size: 6rem;
    color: #fff;
    text-shadow: 0 0 10px white;
    letter-spacing: 10px;
    font-weight: 900;
}

.neon::after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding:  0 20px;
  z-index: -1;
  color:black;
  filter: blur(60px);
}

.neon::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -2;
  opacity: 1;
  filter: blur(60px);
}



/*-----------SERVICES-----------------*/


.section-title{
  margin-bottom: 30px;
  text-align: center;
}

.section-title h2{
  font-size: 48px;
  font-weight: 700;
}


.service-section{
  padding: 40px;
}

.single-service{
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 30px 50px 0px black;
  transition: 1s;
}

.single-service:hover{
  box-shadow: 0px 0px 15px tomato;
  transform: translateY(-25px);
}
.single-service i{
  font-size: 60px;
  color: tomato;
  text-align: center;
  margin-bottom: 10px;
}

.single-service h3{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.single-service p{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}


/*-----------KONTAKT FORMA-----------------*/


form{
  width: 70%;
  margin: 0 auto;
}

form label{
  font-size: 1.2rem;
}


input, select, textarea{
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: tomato;
}

input[type="submit"]{
  width: initial;
  background: linear-gradient( to left, black, tomato );
  color: #eee;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
}



/*-----------LOKACIJA-----------------*/

.sociale ul{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.sociale ul li{
  list-style: none;
  position: relative;
  display: block;
  color: tomato;
  height: 110px;
  width: 110px;
  font-size: 90px;
  background: black;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 35px;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0px 30px 50px 0px black;
  animation: anim 10s linear infinite;
}

@keyframes anim{
          50%{
              transform: scale(1.1);
          }
          100%{
              transform: scale(1);
          }
      }

.sociale ul li::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(1.9);
  transition: .5s;
}

.sociale ul li:hover{
  color:tomato;
  box-shadow: 0 0 25px white;
  transform: translateY(-25px);
}






/*-----------MEDIA-----------------*/


@media screen and (max-width: 566px){

.neon{
  font-size: 2rem;
}

.section-title h2{
  font-size: 2rem;
}

.sociale ul{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

form{
width: 100%;
}

.sociale ul li{
  list-style: none;
  position: relative;
  display: block;
  color: tomato;
  height: 55px;
  width: 55px;
  font-size: 40px;
  background: black;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;

}

}

